body{
	background-image:url(images/npruzyzgfa0-nathan-anderson.jpg);
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}

.common{
	width:600px;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
}

h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}